#input-word::placeholder{
	font-style: italic;
}
#btn-validate-word{
	margin-top:12px;
}

#grid-words-list {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.added-word-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.added-word-container{
	border-bottom: 1px solid black;
	margin-bottom: .25em;
}
.added-word-container button {
	margin-inline-start: 1em;
	padding: 2px 3px;
	border-radius: 0px;
	border: none;
	color:red;
}
.added-word-container button:hover{
	background-color:red;
	color:white;
	border:none;
}

#btn-undo-delete {
	margin: 1em;
}