.nocenter {
  align-items: stretch;
  width: 85%;
}

.leaderboard {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.leaderboard-entry-header,
.leaderboard-entry-header-small {
  margin: 1.5em 0;
}


.leaderboard-entry {
  display:grid;
  grid-template-columns: 10% 15% minmax(0, 1fr) 30%;
  background-color: rgba(242, 242, 242, 1.0);
}
.leaderboard-entry * {
  text-align: center;
}
.leaderboard-entry-rank {
  margin-bottom: 4px;
}
.leaderboard-entry-rank-head {
  grid-column : 1/3;
}
.leaderboard-entry-scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.leaderboard-entry:nth-child(3) .leaderboard-entry-medal::before {
  content: '🥇';
}
.leaderboard-entry:nth-child(4) .leaderboard-entry-medal::before {
  content: '🥈';
}
.leaderboard-entry:nth-child(5) .leaderboard-entry-medal::before {
  content: '🥉';
}
.leaderboard-entry:nth-child(3) {
  background-color: rgba(255, 187, 88, 0.65);
}
.leaderboard-entry:nth-child(4) {
  background-color: rgba(160, 170 , 219, 0.75);
}
.leaderboard-entry:nth-child(5) {
  background-color: rgba(180, 144, 126, 0.9);
}

.leaderboard-entry-username {
  display: flex;
  flex-direction: row;
}

.leaderboard-entry-username-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaderboard-entry-username-you {
  display: none;
}
.leaderboard-entry-me .leaderboard-entry-username-you {
  display: block;
}

.leaderboard-entry-header-small {
  display: none;
}

@media screen and (max-width: 420px) {

  .leaderboard-entry {
    display: grid;
    grid-template-columns: 2em minmax(0, 1fr) 25%;
  }
  .leaderboard-entry-rank {
    display: none;
  }
  .leaderboard-entry-header {
    display: none;
  }
  .leaderboard-entry-header-small {
    display: grid;
  }
  .leaderboard-entry-rank-head {
    grid-column: 1/1;
  }
}
