.nocenter{
  align-items: stretch;
}
.leaderboard-entry-header{
  margin: 1.5em 0;
}


.leaderboard-entry{
  display:grid;
  grid-template-columns: 30% 1fr 30%;
}
.leaderboard-entry *{
  text-align: center;
}

.leaderboard-entry-rank{
}
.leaderboard-entry-username{
}
.leaderboard-entry-scores{
  display:grid;
  grid-template-columns:  1fr 1fr;
}


@media screen and (max-width: 400px) {
  *{
    color:red;
  }
  .leaderboard-entry{
    display:grid;
    grid-template-columns: 20% 1fr 30%;
  }
  .leaderboard-entry-header{
    display:none;
  }
  
}
