@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
body{
  margin : 0;
  width: 100%;
}
a{
  padding: 0;
  margin: 0;
  font-size: 20px;
  color:#f39189;
}
img{
  margin-bottom: 1em;
  height:250px;
}
input,
button{
  border: #474545 0.5px solid;
  background:white;
}
input{
  border-radius: 5px;
  margin:10px 0;
}
button{
  padding:8px 10px;
  border-radius: 10px;
  cursor:pointer;
}
button:hover{
  background:#474545;
  color:white;
  transition: 0.5s;
}
#main-image{
  height:170px;
}

@media screen and (min-width: 800px) {
  #main-image{
    height:220px;
  }
}
/* Typography */
h1 {
  font-size:38px;
  margin-bottom:1em;
}
input::placeholder{
  font-size:18px;
}
.text-center{
  text-align: center;
}
.text-h2title{
  font-size: 30px;
}
.text-guide{
  color:#474545;
  font-weight: 100;
  font-size:22px;
  margin-top:0;
}

.current-status{
	text-align: center; 
}
.current-status-text{
  background:#f6f6f6;
  padding:5px;
}
.current-status .current-status-text.visible {
	display: block;
}
.current-status .current-status-text.hidden {
	display: none;
}

/* divs */
.container{
  width: 80%;
  margin: 0 auto;
}
.container-flex{
  display:flex;
  flex-direction: column;
  align-items:center;
  /* justify-content: space-between; */
}

/* Buttons */
.btn-primary-black,
.btn-primary-blue,
.btn-primary-red{
  color:white;
}
.btn-primary-blue{
  border:#007bff 1px solid;
  background: #007bff;
}
.btn-primary-blue:hover{
  border:#0054ad 1px solid;
  background: #0054ad;
}
.btn-primary-red{
  border:#df2525 1px solid;
  background: #df2525;
}
.btn-primary-black{
  border:#111111 1px solid;
  background: #111111;
}
.btn-secondary{
  border:#646464 1px solid;
  color:white;
  background: #474747;
}
.btn-secondary:hover{
  border:#000000 1px solid;
  background: #000;
}


.btn-grad {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)}
.btn-grad {
   margin: 10px;
   padding: 10px 20px;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border:none;
 }
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
