@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
body{
  margin : 0;
}
a{
  padding: 0;
  margin: 0;
  font-size: 20px;
  color:#f39189;
}
.nav-item:hover,a:hover{
  color:#bb8082;
  text-decoration: underline;
}
.navbar-main{
  margin: 10px 20px;
  margin-bottom: 5px;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu{
  display:none;
  list-style: none;
  margin-left : 0;
}
.nav-menu-show{
  order:0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-self: center;
  transition: all 0.3s ease-in-out;
}
.logo-hamburg{
  width:100%;
  display : flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  margin-left: 10px;
}
.nav-item{
  padding: .5em 0;
}
.nav-link{
  text-decoration: none;
  color: #101010;
}

.hamburger:hover{
  cursor: pointer;
}
.hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}


@media screen and (min-width: 920px) {
  .navbar-main{
    padding: 3px 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px -7px rgb(0 0 0 / 22%);
    /* border-bottom:#474545 0.2px solid; */
  }
  .nav-logo{
    margin-left: 20px;
  }
  .nav-menu{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    transition: all 0.3s ease-in-out;
  }
  .nav-item{
    margin: 0 .75em;
  }
  .hamburger{
    margin-right: 20px;
    display:none;
    /* pointer-events: none; */
  }
  .logo-hamburg {
    width: unset;
  }
}

